body{
    background-color: #ffd0d0;
}

header {
    margin-top: 50px;
    text-align: center;
    border: solid;
    border-radius: 20px;
    border-color: salmon;
    border-width: 10px;
    border-style: dotted;
    margin-right: 340px;
    margin-left: 340px;
    margin-bottom: 50px;
    padding-bottom: 20px;
}

h1 {
    font-family: 'Franklin Gothic Medium';
    font-size: 50px;
    color:lightsalmon;
}

h3 {
    font-size: 25px;
    color:salmon;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu_buttons {
    font-family: 'Segoe UI';
    color: salmon;
    text-align: center;
}

.menu_button {
    display: inline-block;
    width: 20%;
    background-color: rgb(248, 177, 149);
    border-radius: 10px;
    border: solid;
    cursor: pointer;
}

#menu_itens {
    margin-right: 100px;
}

#row1, #row2 {
    justify-content: center;
}

#row1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px ;
}


#row2 {
    display: flex;
    flex-direction: row;
}

.margin {
    margin-left: 50px;
}

.title3, .price {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.img {
    border-radius: 10px;
    box-shadow: 2px 2px salmon;
}

#instagram_icon {
    margin-left: 133px;
    margin-top: -56px;
    cursor: pointer;
    margin-right: 1190px;
}

.insta_border {
    max-width: 50px;
    height: 50px;
    padding: 1rem;
    position: relative;
    background: linear-gradient(45deg, yellow 0%, orange 20%, red 50%, rgb(196, 0, 196) 100%);
    padding: 5px;
    padding-bottom: 1px;
    border-radius: 10px;
}

.insta_void {
    background: #ffd0d0;
    color: white;
    padding: 21px;
    border-radius: 6px;
}

.insta_circle::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 500px;
    background: linear-gradient(45deg, red 5%, rgb(196, 0, 196) 50%);
    margin-top: -18px;
    margin-left: 16px;
}

.insta_cam {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: linear-gradient(45deg, yellow 0%, orange 2%, red 50%, rgb(196, 0, 196) 100%);
    margin-left: -10px;
    margin-top: -3px;
    margin-bottom: -15px;
}

.cam_void {
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background-color: #ffd0d0;
    position: absolute;
    left: 22px;
    top: 38%;
}
